:root {
    --primario: #007BFF; /* Azul Cibernético para botones y enlaces */
    --primarioOscuro: #37474F; /* Gris Oscuro para textos auxiliares */
    --secundario: #e9e93e; /* Verde Tecnológico para llamadas a la acción */
    --secundarioOscuro: #FF9800; /* Naranja Energético para precios y promociones */
    --blanco: #FFFFFF; /* Blanco para el fondo de la página */
    --negro: #000000; /* Negro para el texto principal */
    --fuentePrincipal: "Poppins", sans-serif; /* Fuente principal para mantener coherencia visual */
  }
  

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*globals*/
body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: var(--fuentePrincipal);
}

p{
    font-size: 1.8rem;
    color: var(--blanco);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 75%;
    margin: 0 auto;
}

h1,h2,h3{
    text-align: center;
    color: var(--secundario);
}

h1{
    font-size: 4rem;    
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2.4rem;
}

.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem auto;
}

.navegacion{
    background-color: var(--primarioOscuro);
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

/*Navegación*/

.navegacion__enlace{
    color: var(--blanco);
    font-size: 3rem;
    /* margin-right: 2rem; */
    
}

/* .navegacion__enlace:last-of-type{
    margin-right: 0;
} */

.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundario);
}

/*Footer*/
.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto{
    text-align: center;
    font-size: 2.2rem;
}


